<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <form method="post" enctype="multipart/form-data" action="/upload">
        <div>
            <label>File:</label>
            <input type="file" name="berkas">
        </div>
        <div>
            <input type="submit" value="upload">
        </div>
    </form>
</body>
</html>
