<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <select id="continent">
        <option value="">All</option>
        <option value="Asia">Asia</option>
        <option value="Europe">Europe</option>
    </select>
    <button type="button" onclick="refresh(document.getElementById('continent'))">Refresh</button>
    <table>
        <tr>
            <td>Country</td>
            <td>Capital</td>
            <td>Continent</td>
        </tr>
        <% countries.forEach( country => { %>
            <tr><td><%= country.name %></td>
                <td><%= country.capital %></td>
                <td><%= country.continent %></td>
            </tr>
        <% }) %>
    </table>
    <p>Jumlah: <%= countries.length %></p>
    <script>
        function refresh(continent) {
            window.location = "/" + continent.value;
        }
    </script>
</body>
</html>
