<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1>Hi, <%= name %></h1>

    <p><%= message %></p>
    <img src="https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_120x44dp.png">

    <p>Regards,<br>
    descobacoba@gmail.com</p>
</body>
</html>
