<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <form method="post" action="/comment">
        <div>
            <label>Name:</label>
            <input type="text" name="name">
        </div>
        <div>
            <label>Comment:</label>
            <textarea name="comment" cols="50" rows="10"></textarea>
        </div>
        <div>
            <input type="submit" value="Post Comment">
        </div>
    </form>
    <% for (i in comments) { %>
        <div><i><%= comments[i].id %></i><b><%= comments[i].name %></b> said:
                <p><%= comments[i].comment %></p>
            <a href="<%= '/delete/' + comments[i].id %>">Delete</a>
        </div>
    <% } %>
</body>
</html>
