<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <p>Hello, <%= username %>, you've been registered!</p>
    <p>Please check your email at <%= email %> for account details</p>
</body>
</html>
